html {
  height: max-content;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ff8d27;
}
.header {
  background-color: #5e81d1;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.header--title {
  font-weight: normal;
}
.header--menu {
  display: inline-flex;
  justify-content: space-between;
}
.header--menu--list {
  font-weight: bold;
}
ul {
  list-style: none;
  display: inline-flex;
  justify-self: flex-start;
  justify-content: space-between;
  align-self: center;
}
li {
  margin: 20px;
}
.items-count {
  background-color: #f87500;
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
}
.items-count--numbers {
  justify-content: space-around;
  margin: 20px;
}
#plus {
  margin: 20px;
}
.main--products--price {
  justify-self: flex-end;
}
.main--products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  margin: 20px;
}

.main--products--price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main--products__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}
.total-price {
  font-size: xx-large;
}
